<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}{%endblock%}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {{user.is_authenticated}}{{user.is_superuser}} {{categories}} 
      <!-- ----------------------form search------------------------ -->
      <form method=POST action="{% url 'search'  %}" class="d-flex my-3 col-2">
        {% csrf_token %}
        <input class="form-control me-2 ms-5" type="search" name="searched"
          placeholder="Search Posts" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    {%block content%}{%endblock%}
    
    <!-- ---------------------------------footer control pages------------------------------- -->
    {% comment %} {% include 'discussion/footer.html' %} {% endcomment %}
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

